main {
  width: 90svw;
  height: 90svh;
  border-radius: 3rem;
  background-color: var(--bkg-color);
  overflow: hidden;
  z-index: 1;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 100%;

  position: relative;
}
