/* ********************* */
/* ****** Globals ****** */
/* ********************* */

:root {
  --primary-color: #fae2c8;
  --secondary-color: #c8edfa;
  --accent-color-1: #f4c8fa;
  --accent-color-2: #e1fac8;
  --red-color: #f03e53;
  --bkg-color: #635342;
  --bkg-shade-1: color-mix(in srgb, var(--bkg-color) 100%, black 10%);
  --bkg-shade-2: color-mix(in srgb, var(--bkg-color) 100%, black 20%);

  -webkit-tap-highlight-color: transparent;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  text-size-adjust: 100%;
  line-height: 1;
  tab-size: 4;

  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-family:
    "Rubik",
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    "Helvetica Neue",
    Arial,
    "Noto Sans",
    sans-serif,
    "Apple Color Emoji",
    "Segoe UI Emoji",
    "Segoe UI Symbol",
    "Noto Color Emoji";
}

html {
  width: 100%;
  height: 100%;

  display: grid;
  place-content: center;

  background-color: var(--primary-color);
  color: white;
}

li::marker {
  content: "";
}

